<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dialogflow CX Chatbot Integration</title>

  <link rel="stylesheet" href="https://www.gstatic.com/dialogflow-console/fast/df-messenger/prod/v1/themes/df-messenger-default.css">

  <script src="https://www.gstatic.com/dialogflow-console/fast/df-messenger/prod/v1/df-messenger.js"
    onload="document.dispatchEvent(new Event('df-loaded')); document.dfLoaded = true;"></script>
  <style>
    df-messenger {
      z-index: 999;
      position: fixed;
      bottom: 16px;
      right: 16px;
    }
  </style>
</head>
<body>

  <df-messenger
    oauth-client-id="658908921062-hmmd94e2gtdtegtviri860nteoo2vaku.apps.googleusercontent.com"
    project-id="convai--core--dev--9a"
    agent-id="4b651062-f618-4ded-8f67-8c66073f83dd"
    language-code="es"
    max-query-length="-1">
    <df-messenger-chat-bubble
      chat-title="metrovacesa-test">
    </df-messenger-chat-bubble>
  </df-messenger>
  <script>
    const dfMessenger = document.querySelector('df-messenger');

      const metadata = {
        'working_document_id': 'F0351101',
      };

      dfMessenger.setContext(metadata);
      console.log("Metadata context set:", metadata);

    function addRichContent(customPayload) {
      console.log('Function addRichContent called');

      try {
        console.log('Rendering rich content:', customPayload);
        dfMessenger.renderCustomCard(customPayload.richContent);
        return Promise.resolve({ status: "OK", reason: null });
      } catch (error) {
        console.error("Error rendering rich content:", error);
        return Promise.resolve({ status: "ERROR", reason: error.message });
      }
    }

    const toolId = 'projects/convai--core--dev--9a/locations/global/agents/4b651062-f618-4ded-8f67-8c66073f83dd/tools/addRichContent';
    dfMessenger.registerClientSideFunction(toolId, addRichContent.name, addRichContent);

        window.addEventListener('df-chat-open-changed', (event) => {
          console.log("Listening for chat open/close events...");
          console.log(`Chat is ${event.detail.isOpen ? 'open' : 'closed'}`);

          if (event.detail.isOpen && !sessionStorage.getItem("df-messenger-messages")) {
            dfMessenger.renderCustomText("Selecciona uno de los roles de abajo 👇", {});
            const chipsPayload = {
              richContent: [
                {
                  type: "chips",
                  options: [
                    {
                      text: "investor"
                    },
                    {
                      text: "individual"
                    }
                  ]
                }
              ]
            };
            addRichContent(chipsPayload);
          }
        });
    working_document_id = "F0351101"
    dfMessenger.addEventListener('df-request-sent', function (event) {
          console.log(event.detail.requestBody.queryInput.text.text)
        event.detail.requestBody.queryInput.text.text = `${event.detail.requestBody.queryInput.text.text} working_document_id = ${working_document_id}`
        });
    document.addEventListener('df-chip-clicked', (event) => {
      console.log("Chip clicked event received:", event);
      const clickedChipText = event.detail.text;

      const email = 'example@example.com';

      const userData = {
        email: email,
        role: clickedChipText
      };

      fetch('/save-user-data', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(userData)
      })
      .then(response => response.json())
      .then(data => {
        console.log(data.message);
      })
      .catch((error) => {
        console.error('Error:', error);
      });
    });
  </script>
</body>
</html>
