  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Google Tag Manager -->
  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({
        "gtm.start": new Date().getTime(),
        event: "gtm.js",
      });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != "dataLayer" ? "&l=" + l : "";
      j.async = true;
      j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, "script", "dataLayer", "GTM-MBCDN9V");
  </script>
  <!-- End Google Tag Manager -->

  <title>Aliseda Chatbot</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet"
    href="https://www.gstatic.com/dialogflow-console/fast/df-messenger/prod/v1/themes/df-messenger-default.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <script src="https://www.gstatic.com/dialogflow-console/fast/df-messenger/prod/v1/df-messenger.js"
    onload="document.dispatchEvent(new Event('df-loaded')); document.dfLoaded = true;"></script>
  <style>
    * {
      --df-messenger-font-family: "Roboto";
      --df-messenger-titlebar-font-color: #fff;
      --df-messenger-titlebar-background: #1a1a1a;
      --df-messenger-titlebar-title-font-size: 20px;
      --df-messenger-titlebar-icon-width: 24px;
      --df-messenger-titlebar-icon-height: 24px;
      --df-messenger-titlebar-icon-padding: 0 6px 0 0;
      --df-messenger-titlebar-padding: 0 24px;
      --df-messenger-message-bot-actor-background: #1a1a1a;
      --df-messenger-message-actor-border-radius: 8px;
      --df-messenger-chips-font-color: #fff;
      --df-messenger-input-box-border: 1px solid #8c8c8c;
      --df-messenger-chat-background: #f2f2f2;
      --df-messenger-input-background: #f2f2f2;
      --df-messenger-chat-scroll-button-background: #fff;
      --df-messenger-message-bot-margin-right: 0px;
      --df-messenger-message-bot-margin-left: 0px;
      --df-messenger-link-border-radius: 100px;
      --df-messenger-message-stack-spacing: 10px;
      --df-messenger-message-user-background: #d9d9d9;
      --df-messenger-chat-bubble-border-radius: 99px;
      --df-messenger-internal-chat-bubble-size-half: 99px;

      --df-messenger-message-bot-border-top-left-radius: 10px;
      --df-messenger-message-bot-border-top-right-radius: 10px;
      --df-messenger-message-bot-border-bottom-left-radius: 0px;
      --df-messenger-message-bot-border-bottom-right-radius: 10px;
      --df-messenger-message-bot-stack-border-top-left-radius: 10px;
      --df-messenger-message-bot-stack-border-top-right-radius: 10px;
      --df-messenger-message-bot-stack-border-bottom-left-radius: 0px;
      --df-messenger-message-bot-stack-border-bottom-right-radius: 10px;
      --df-messenger-chat-border-radius: 8px;

      --df-messenger-chips-background: #28828a;
      --df-messenger-chips-background-hover: #12575e;
      --df-messenger-chips-icon-font-size: 1px;
      --df-messenger-chips-icon-font-color: #28828a;
      --df-messenger-chat-window-box-shadow: 0px 20px 48px 0px #3e3e3e33;

      --df-messenger-chips-font-weight: 700;
      --df-messenger-message-user-border-bottom-right-radius: 0px;
      --df-messenger-message-user-border-top-right-radius: 15px;

      --df-messenger-button-font-size: 14px;
      --df-messenger-button-icon-spacing: 1px;
      --df-messenger-button-font-color: #fff;

      --df-messenger-chat-bubble-size: 40px;
    }

    .isMobile df-messenger {
      --df-messenger-chat-window-width: 100dvw;
      --df-messenger-chat-window-height: 100dvh;
      --df-messenger-chat-padding: 5px;
      --df-messenger-internal-chat-bubble-size-offset: 0px;
    }
  </style>
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MBCDN9V" height="0" width="0"
      style="display: none; visibility: hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <h1>Aliseda Real Estate Chatbot Demo</h1>
  <h2>Under Maintenance</h2>
  <p>Gemini Version</p>
  <style>
    /* Initial styles */
    df-messenger {
      --df-messenger-chat-window-width: 25dvw;
      /* Normal width */
      --df-messenger-chat-window-height: 55dvh;

      /* Normal height */
      z-index: 999;
      position: fixed;
      bottom: 16px;
      right: 16px;
    }

    .titlebar-actions {
      visibility: hidden;
      opacity: 0;
      /* Button is hidden initially */
      position: absolute;
      z-index: 1000;
      cursor: pointer;
      align-items: center;
      background-color: var(--df-messenger-titlebar-background);
      color: var(--df-messenger-titlebar-font-color);
      border-radius: 100px;
      border: none;
      cursor: pointer;
      /* display: flex; */
      justify-content: center;
      margin: 0px;
      /* position: relative; */
      user-select: none;
      transition: all 0.3s;
    }

    .custom-card-container {
      display: flex;
      justify-content: space-between;
      /* Adjust as needed */
    }

    .custom-card {
      /* Add styling for your custom card */
      /* Example styling */
      width: 200px;
      height: 300px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      display: none;
      justify-content: center;
      align-items: center;
      z-index: 999;
    }

    .modal {
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      width: 500px;
      height: 300px;
      text-align: center;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .modal-header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .close {
      cursor: pointer;
    }

    .modal-title {
      color: #262626;
      font-size: 20px;
      font-weight: 700;
      margin: 0;
      text-align: left;
    }

    .modal-buttons {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 10px;
    }

    .modal .button {
      border: none;
      padding: 10px;
      border-radius: 99px;
      color: #fff;
      cursor: pointer;
      transition: all 0.5s;
    }

    #confirmBtn {
      background-color: #d80e46;
    }

    #confirmBtn:hover {
      background-color: #96163a;
    }

    #cancelBtn {
      background-color: #fff;
      color: #000;
    }

    #cancelBtn:hover {
      background-color: #c2bdbd;
    }
  </style>
  <df-messenger allow-feedback="all" url-allowlist="*" placeholder-text="Busca un inmueble..."
    project-id="aliseda--convai--dev--7c" agent-id="2e763751-0153-4021-8e6e-d9bccd34933b" language-code="es"
    max-query-length="-1">
    <df-messenger-chat-bubble chat-title="LIA" placeholder-text="Busca un inmueble..."
      chat-title-icon="./icons/titleIcon.svg" bot-actor-image="./icons/titleIcon.svg">
    </df-messenger-chat-bubble>

    <!--Modal-->
    <div class="overlay" id="overlay">
      <div class="modal" id="modal">
        <div class="modal-header">
          <p class="modal-title">
            ¿Estás seguro/a que quieres finalizar la búsqueda actual? 😞
          </p>
          <span class="close material-icons" id="closeBtn">close</span>
        </div>
        <div class="modal-buttons">
          <button class="button" id="cancelBtn">Minimizar</button>
          <button class="button" id="confirmBtn">Finalizar</button>
        </div>
      </div>
    </div>
  </df-messenger>
  <script>
    var chatId = null;
    var list_items = null;
    const modal = document.getElementById("modal");
    const overlay = document.getElementById("overlay");

    const findAllDeep = (parent, selectors, depth = null) => {
      let nodes = new Set();
      let currentDepth = 1;
      const recordResult = (nodesArray) => {
        for (const node of nodesArray) {
          nodes.add(node);
        }
      };
      const recursiveSeek = (_parent) => {
        // check for selectors in lightdom
        currentDepth++;
        recordResult(_parent.querySelectorAll(selectors));
        if (_parent.shadowRoot) {
          // check for selectors in shadowRoot
          recordResult(_parent.shadowRoot.querySelectorAll(selectors));
          // look for nested components with shadowRoots
          for (let child of [
            ..._parent.shadowRoot.querySelectorAll("*"),
          ].filter((i) => i.shadowRoot)) {
            // make sure we haven't hit our depth limit
            if (depth === null || currentDepth < depth) {
              recursiveSeek(child);
            }
          }
        }
      };
      recursiveSeek(parent);
      return nodes;
    };

    // track link clicks an pervorme some action
    const trackLinkClicks = (links) => {
      Array.from(links)
        .filter((link) => link.classList.contains("track"))
        .forEach((link) =>
          link.addEventListener("click", (e) => {
            let href = e.target.href;
            if (href) {
              let item_id = href.match(/0-ref_(.*?)\?iaChat=true/)[1];
              let result = list_items.find((item) => item.includes(item_id));
              window.dataLayer.push({
                event: "view_item",
                item: result,
                item_url: href,
                chat_ID: chatId,
              });
            }
          })
        );
    };

    const closeBtn = document.getElementById("closeBtn");
    const cancelBtn = document.getElementById("cancelBtn");
    const confirmBtn = document.getElementById("confirmBtn");

    function openModal() {
      overlay.style.display = "flex";
    }

    function closeModal() {
      overlay.style.display = "none";
    }

    closeBtn.addEventListener("click", closeModal);

    if (!sessionStorage.getItem("df-messenger-messages"))
      localStorage.setItem("chatOpen", false);

    if (document.dfLoaded === true) {
      customizeDialogFlow();
    } else {
      document.addEventListener("df-loaded", function (e) {
        customizeDialogFlow();
      });
    }

    function customizeDialogFlow() {
      // Call the function to start traversing from the document body
      const dfMessenger = document.querySelector("df-messenger");
      const toggleButton = document.createElement("button");
      toggleButton.id = "size-toggle";
      toggleButton.setAttribute(
        "class",
        "material-icons close-action focus-outline-contrast action-button"
      );
      toggleButton.setAttribute("slot", "action");
      toggleButton.setAttribute("title", "Change Size");
      toggleButton.style.color = "#fff";
      toggleButton.innerHTML =
        '<span class="material-icons">zoom_out_map</span>';
      localStorage.setItem("zoom", false);

      const closeButton = document.createElement("button");
      closeButton.id = "chat-close";
      closeButton.setAttribute(
        "class",
        "material-icons close-action focus-outline-contrast action-button"
      );
      closeButton.setAttribute("slot", "action");
      closeButton.setAttribute("title", "Close chat");
      closeButton.style.color = "#fff";
      closeButton.innerHTML = '<span class="material-icons">remove</span>';

      const icon = toggleButton.querySelector(".material-icons"); // Reference to the icon inside the button
      const bubbleIcon = '<img src="./icons/titleIcon.svg"/>';
      const currentWidth = getComputedStyle(dfMessenger)
        .getPropertyValue("--df-messenger-chat-window-width")
        .trim();

      const isOpen = localStorage.getItem("chatOpen") === "true";

      const bubble = document.querySelector("df-messenger-chat-bubble");
      const links = findAllDeep(bubble, "a", 100);
      trackLinkClicks(links);

      if (bubble && cancelBtn && confirmBtn && isOpen) {
        const minimizeButton = bubble.shadowRoot
          .getElementById("df-chat-wrapper")
          .querySelector("df-messenger-titlebar")
          .querySelector("button");

        const clone = minimizeButton.cloneNode(true);
        minimizeButton?.parentNode?.replaceChild(clone, minimizeButton);
        clone.addEventListener("click", () => openModal());

        confirmBtn.addEventListener("click", function () {
          dfMessenger.startNewSession({ retainHistory: false });
          closeModal();
          bubble.closeChat();
          chatIcon.querySelector(".bubble-wrapper").innerHTML = bubbleIcon;
        });

        cancelBtn.addEventListener("click", () => {
          chatIcon.querySelector(".bubble-wrapper").innerHTML =
            bubbleIcon + "<b>Continuar búsqueda</b>";
          closeModal();
          bubble.closeChat();
        });
      }

      const isOpened = localStorage.getItem("isOpened") === "true";
      // Set visibility of toggle button based on localStorage
      const isMobile = document.body.classList.contains("isMobile");

      const toggleMobileClass = () => {
        const { body } = document;
        const { width } = body.getBoundingClientRect();
        const root = document.querySelector(":root");

        if (width <= 480) {
          if (!body.classList.contains("isMobile")) {
            body.classList.add("isMobile");
            toggleButton.style.visibility = "hidden";
            dfMessenger.style.removeProperty(
              "--df-messenger-chat-window-height"
            );
            dfMessenger.style.removeProperty(
              "--df-messenger-chat-window-width"
            );
            localStorage.setItem("zoom", false);
          }
          const wrapper = dfMessenger
            .querySelector("df-messenger-chat-bubble")
            .shadowRoot.querySelector(".chat-wrapper");
          wrapper.style.setProperty("bottom", "0");
          wrapper.style.transform = "translate(15px, 15px)";
          wrapper.style.setProperty("transition", "none");
        } else {
          if (body.classList.contains("isMobile")) {
            body.classList.remove("isMobile");
            toggleButton.style.visibility = "visible";
            closeButton.style.visibility = "visible";
          }
        }
      };

      window.addEventListener("resize", toggleMobileClass);
      toggleMobileClass();

      window.addEventListener("df-button-clicked", (event) => {
        let text = event.detail.text;
        if (text.includes("Otras")) {
          window.dataLayer.push({
            event: "chat_interaction_cta",
            chat_ID: chatId,
            cta_name: "Otras opciones",
          });
          const payload = [
            {
              type: "html",
              html: "A continuación te mostramos distintas opciones",
            },
            {
              type: "chips",
              options: [
                {
                  text: "Ayuda",
                  anchor: {
                    href: "https://{settings.DOMINIO}/ayuda",
                    target: "_self",
                  },
                },
                {
                  text: "Vender mi casa",
                  anchor: {
                    href: "https://{settings.DOMINIO}/venta/vivienda",
                    target: "_self",
                  },
                },
                {
                  text: "Valorar un inmueble",
                  anchor: {
                    href: "https://{settings.DOMINIO}/valoracion-de-inmuebles",
                    target: "_self",
                  },
                },
                {
                  text: "Calcular mi hipoteca",
                  anchor: {
                    href: "https://{settings.DOMINIO}/hipoteca-aliseda",
                    target: "_self",
                  },
                },
                {
                  text: "Contactar con nosotros",
                  anchor: {
                    href: "https://{settings.DOMINIO}/contacto/contactar-aliseda",
                    target: "_self",
                  },
                },
              ],
            },
          ];
          dfMessenger.renderCustomCard(payload);
        } else {
          window.dataLayer.push({
            event: "chat_interaction_cta",
            chat_ID: chatId,
            cta_name: "Buscar un inmueble",
          });
          dfMessenger.renderCustomText(
            "Dime la ubicación, tipo de inmueble y las características que buscas, ¡seguro que puedo ayudarte!"
          );
        }
        event.preventDefault(); // Dialogflow Messenger won't send the "event" request.
      });
      const dfMessengerBubble = document.querySelector(
        "df-messenger-chat-bubble"
      );
      const styleButtons = () => {
        const buttonsWrapper = Array.from(
          dfMessengerBubble.shadowRoot
            .getElementById("df-chat-wrapper")
            .shadowRoot.querySelector("df-messenger-message-list")
            .shadowRoot.getElementById("message-list")
            .querySelectorAll(".entry")
        )
          .filter((el) =>
            el
              .querySelector("df-messenger-utterance")
              .shadowRoot.querySelector("df-card")
          )
          .map((el) =>
            el
              .querySelector("df-messenger-utterance")
              .shadowRoot.querySelector("df-card")
              .shadowRoot.querySelector(".card-wrapper")
          )
          .filter((el) => el.querySelector("df-button"));
        const buttons = buttonsWrapper.flatMap((el) =>
          Array.from(el.querySelectorAll("df-button"))
        );

        buttonsWrapper[0].style.background = "transparent";
        buttonsWrapper[0].style.display = "flex";
        buttonsWrapper[0].style.gap = "5px";
        buttons.forEach(
          (el) =>
          (el.shadowRoot.querySelector("button").style.backgroundColor =
            "#28828A")
        );
      };
      const openButton = dfMessengerBubble.shadowRoot
        .querySelector(".container")
        .querySelector("button");

      const minimizeButton = dfMessengerBubble.shadowRoot
        .getElementById("df-chat-wrapper")
        .querySelector("df-messenger-titlebar")
        .querySelector("button");
      minimizeButton.style.color = "#fff";
      minimizeButton.innerHTML = "close";
      const chatIcon = dfMessengerBubble.shadowRoot
        .querySelector(".container")
        .querySelector("button");
      chatIcon.innerHTML = `<div class="bubble-wrapper" style="display: flex; justify-content: space-between; align-items: center; gap: 5px; color: white">${bubbleIcon} ${!isOpened ? `<b>¿Buscas un inmueble?</b>` : ""
        }</div>`;
      chatIcon.style.setProperty("background", "#D80E46");
      chatIcon.style.setProperty("width", "auto");
      chatIcon.style.setProperty("height", "auto");
      chatIcon.style.setProperty("padding-inline", "12px");
      chatIcon.style.setProperty("padding-block", "8px");
      chatIcon.style.setProperty("font-size", "16px");
      chatIcon.style.setProperty("font-family", "Roboto");

      minimizeButton.setAttribute("aria-label", "Minimize LIA");

      closeButton.onclick = () => {
        dfMessengerBubble.closeChat();
        chatIcon.querySelector(".bubble-wrapper").innerHTML =
          bubbleIcon + "<b>Continuar búsqueda</b>";
      };

      const handleAction = () => {
        const isOpen = localStorage.getItem("chatOpen") === "true";
        if (isOpen) {
          openModal();
        } else dfMessengerBubble.openChat();
      };

      if (sessionStorage.getItem("df-messenger-messages")) {
        setTimeout(styleButtons, 0);
      }
      window.addEventListener("df-chat-open-changed", (event) => {
        localStorage.setItem("isOpened", true);

        localStorage.setItem("chatOpen", event.detail.isOpen); // Save state
        const chatIcon = dfMessengerBubble.shadowRoot
          .querySelector(".container")
          .querySelector("button");

        const clone = minimizeButton.cloneNode(true);
        minimizeButton?.parentNode?.replaceChild(clone, minimizeButton);

        clone.onclick = () => handleAction();

        if (event.detail.isOpen) {
          if (event && event.srcElement && event.srcElement.R) {
            const R = event.srcElement.R;

            // Get all the symbols of the R object
            const symbols = Object.getOwnPropertySymbols(R);

            // Loop through symbols to find the one you're interested in
            symbols.forEach((symbol) => {
              const symbolKey = symbol.toString();
              const value = R[symbol];

              // Check if the value is the chat ID we are looking for
              if (
                typeof value === "string" &&
                value.includes("dfMessenger")
              ) {
                chatId = value;
              }
            });
          }
          window.dataLayer.push({
            event: "chat_opened",
            chat_ID: chatId,
          });

          confirmBtn.addEventListener("click", function () {
            window.dataLayer.push({
              event: "chat_closed",
              chat_ID: chatId,
            });

            dfMessenger.startNewSession({ retainHistory: false });
            closeModal();
            dfMessengerBubble.closeChat();
            chatIcon.querySelector(".bubble-wrapper").innerHTML = bubbleIcon;
          });

          cancelBtn.addEventListener("click", () => {
            chatIcon.querySelector(".bubble-wrapper").innerHTML =
              bubbleIcon + "<b>Continuar búsqueda</b>";
            closeModal();
            dfMessengerBubble.closeChat();
          });
        }

        if (
          event.detail.isOpen &&
          !sessionStorage.getItem("df-messenger-messages")
        ) {
          const initialPayload = [
            {
              type: "list",
              title:
                "¡Bienvenido/a a LIA, el buscador de inmuebles con inteligencia artificial de Aliseda Inmobiliaria! 🤖",
            },
            {
              type: "list",
              title:
                "Recuerda que no soy una persona, selecciona una de las opciones de abajo 👇",
            },
          ];
          const button1 = [
            {
              type: "button",
              icon: {
                type: "search",
                color: "#fff",
              },
              text: "Buscar un inmueble",
            },
            {
              type: "button",
              icon: {
                type: "format_list_bulleted",
                color: "#fff",
              },
              text: "Otras opciones",
            },
          ];
          // Render the initial card
          dfMessenger.renderCustomCard(initialPayload);
          dfMessenger.renderCustomCard(button1);
          setTimeout(styleButtons, 0);
        }
        const currentWidth = getComputedStyle(dfMessenger)
          .getPropertyValue("--df-messenger-chat-window-width")
          .trim();

        const isMobile = document.body.classList.contains("isMobile");
        const wrapper = dfMessenger
          .querySelector("df-messenger-chat-bubble")
          .shadowRoot.querySelector(".chat-wrapper");

        if (isMobile) {
          setTimeout(() => {
            wrapper.style.setProperty("bottom", "0");
            wrapper.style.setProperty("transform", "translate(15px, 15px)");
            wrapper.style.setProperty("transition", "none");
          }, 0);
        }

        const isZoom = localStorage.getItem("zoom") === "true";
      });
      // Toggle size function
      toggleButton.addEventListener("click", function () {
        const currentWidth = getComputedStyle(dfMessenger)
          .getPropertyValue("--df-messenger-chat-window-width")
          .trim();
        const isZoom = localStorage.getItem("zoom") === "true";

        if (!isZoom) {
          localStorage.setItem("zoom", true);
          dfMessenger.style.setProperty(
            "--df-messenger-chat-window-width",
            "35dvw"
          );
          dfMessenger.style.setProperty(
            "--df-messenger-chat-window-height",
            "65dvh"
          );
          icon.textContent = "zoom_in_map"; // Change icon to zoom out
        } else {
          localStorage.setItem("zoom", false);
          dfMessenger.style.setProperty(
            "--df-messenger-chat-window-width",
            "25dvw"
          );
          dfMessenger.style.setProperty(
            "--df-messenger-chat-window-height",
            "55dvh"
          );
          icon.textContent = "zoom_out_map"; // Change icon to zoom in
        }
      });
      const titlebar = dfMessenger
        .querySelector("df-messenger-chat-bubble")
        .shadowRoot.querySelector("df-messenger-titlebar")
        .querySelector("button");
      titlebar.parentNode.insertBefore(toggleButton, titlebar);
      titlebar.parentNode.insertBefore(closeButton, titlebar);
    }

    const dfMessenger = document.querySelector("df-messenger");
    window.addEventListener("df-session-ended", () => {
      window.dataLayer.push({
        event: "chat_session_ended",
        chat_ID: chatId,
      });

      const messenger = document.querySelector("df-messenger");
      messenger.startNewSession({ retainHistory: false });
      messenger.renderCustomText(`*Session ended*`, /* isBot= */ true);
    });

    window.addEventListener("df-session-expired", () => {
      window.dataLayer.push({
        event: "chat_session_expired",
        chat_ID: chatId,
      });
      const messenger = document.querySelector("df-messenger");
      messenger.renderCustomText(`*Session expired*`, /* isBot= */ true);
      messenger.startNewSession({ retainHistory: true });
    });

    dfMessenger.addEventListener("df-response-received", (event) => {
      const item_list =
        event.detail.raw.queryResult.webhookPayloads[0]["view_list_items"];
      list_items = item_list;
      if (list_items) {
        window.dataLayer.push({
          event: "view_item_list",
          items: list_items,
          chat_ID: chatId,
        });
      }

      var category =
        event.detail.raw.queryResult.webhookPayloads[0]["category"];

      window.dataLayer.push({
        event: "chat_interaction_text",
        categorizacion_mensaje: category,
        chat_ID: chatId,
      });

      const bubble = document.querySelector("df-messenger-chat-bubble");
      setTimeout(() => {
        const links = findAllDeep(bubble, "a", 100);
        trackLinkClicks(links);
      });
    });
  </script>
</body>

</html>